abstract-rendering==0.5.1
alabaster==0.7.7
anaconda-client==1.2.2
argcomplete==1.0.0
argh==0.26.2
astropy==1.1.1
asyncio==3.4.3
autobahn==17.5.1
Babel==2.2.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.4.1
bitarray==0.8.1
BitEx==2.0.0b0
bokeh==0.11.0
boto==2.39.0
Bottleneck==1.0.0
btfxwss==1.1.2
cffi==1.10.0
ChooChoo==1.0.0
clyent==1.2.0
colorama==0.3.6
conda==4.0.6
conda-build==1.19.0
conda-env==2.4.5
configobj==5.0.6
configparser==3.5.0
cryptography==0.9.3
CTS-core==0.1
CTS-data==0.1
CTS-executor==0.1
CTS-ti==0.1
cycler==0.9.0
Cython==0.23.4
cytoolz==0.7.5
datashape==0.5.0
decorator==4.0.9
Django==1.8.4
docutils==0.12
dynd===f641248
et-xmlfile==1.0.1
fastcache==1.0.2
Flask==0.10.1
futures==3.0.3
gevent==1.1.1
graphviz==0.5.2
greenlet==0.4.9
h5py==2.5.0
idna==2.0
ipykernel==4.2.2
ipython==4.2.0
ipython-genutils==0.1.0
ipywidgets==4.1.1
itsdangerous==0.24
jdcal==1.2
jedi==0.9.0
Jinja2==2.8
jsonschema==2.4.0
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.1.0
jupyter-core==4.0.6
Kivy==1.10.0
Kivy-Garden==0.1.4
line-profiler==1.0
livereload==2.5.0
llvmlite==0.8.0
lxml==3.6.0
MarkupSafe==0.23
matplotlib==1.5.1
memory-profiler==0.43
mistune==0.7.1
multipledispatch==0.4.8
nanomsg==1.0
nbconvert==4.1.0
nbformat==4.0.1
ndg-httpsclient==0.4.2
networkx==1.11
nltk==3.1
nose==1.3.7
notebook==4.1.0
numba==0.23.1
numexpr==2.4.6
numpy==1.10.4
oauthlib==1.0.3
objgraph==3.1.0
odo==0.4.0
openpyxl==2.3.2
ordered-set==2.0.2
pandas==0.18.1
path.py==0.0.0
pathtools==0.1.2
patsy==0.4.0
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.5
Pillow==3.1.0
pkginfo==1.4.1
ply==3.8
port-for==0.3.1
protobuf==3.4.0
psutil==3.4.2
ptyprocess==0.5
pusher==1.6
pusherclient==0.3.0
py==1.4.31
pyasn1==0.1.9
pycosat==0.6.1
pycparser==2.14
pycrypto==2.6.1
pycurl==7.19.5.3
pyflakes==1.0.0
Pygments==2.1
PyJWT==1.5.2
PyLaTeX==1.2.0
pyOpenSSL==0.15.1
pyparsing==2.0.3
PyPDF2==1.26.0
pytest==2.8.5
python-axolotl==0.1.39
python-axolotl-curve25519==0.1
python-dateutil==2.4.2
pytz==2015.7
PyYAML==3.11
pyzmq==15.2.0
qtconsole==4.1.1
redis==2.10.3
requests==2.14.2
requests-oauthlib==0.6.1
requests-toolbelt==0.8.0
rope-py3k==0.9.4.post1
scikit-image==0.11.3
scikit-learn==0.17
scipy==0.17.0
selenium==2.53.6
simplegeneric==0.8.1
six==1.10.0
slacker==0.9.16
snowballstemmer==1.2.1
sockjs-tornado==1.0.1
SPAB==0.1.0
Sphinx==1.3.5
sphinx-autobuild==0.6.0
sphinx-rtd-theme==0.1.9
spyder==2.3.8
SQLAlchemy==1.0.11
statsmodels==0.6.1
sympy==0.7.6.1
tables==3.2.2
terminado==0.5
toolchain==0.1
toolz==0.7.4
tornado==4.3
tqdm==4.14.0
traitlets==4.2.1
treelib==1.3.5
tweepy==3.5.0
twine==1.9.1
txaio==2.7.1
unicodecsv==0.14.1
urllib3==1.17
virtualenv==15.1.0
watchdog==0.8.3
websocket-client==0.40.0
Werkzeug==0.11.3
xlrd==0.9.4
XlsxWriter==0.8.4
xlwt==1.0.0
yowsup2==2.5.2
zmq==0.0.0
